[registries]
elastio-private = { index = "https://dl.cloudsmith.io/TtnAPdIsnpfohcDy/elastio/private/cargo/index.git" }

{{ if eq .chezmoi.os "linux" -}}
[target.x86_64-unknown-linux-gnu]
rustflags = [
    "-C", "link-arg=-fuse-ld=/usr/bin/mold",
]
linker = "clang"

{{ end -}}
[net]
# Cloudsmith sucks so bad that timeouts talking to its registry are frequent
retry = 100                   # network retries
