# Don't track anything in .ssh since it's all either noisy or sensitive
# when i say "don't track anything" obviously I don't mean to include the SSH config file!
home/.ssh/*
!home/.ssh/config


# Don't track the vim-plug managed plugins, since each of them is a git clone
# so it just won't work right
home/.vim/plugged

# Dont' track vim swap files
**/*.swp
