# Don't track anything in .ssh since it's all either noisy or sensitive
home/.ssh/

# Don't track the vim-plug managed plugins, since each of them is a git clone 
# so it just won't work right
home/.vim/plugged

