[user]
	email = anelson@users.noreply.github.com
	name = Adam Nelson

[credential]
 	helper = store

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
