[user]
	email = anelson@users.noreply.github.com
	name = Adam Nelson

# I would really like this to be the new libsecret-based helper.  Unfortunately it's
# not a good fit for boxes one SSH's into with key-based authentication, because gnome-keyring
# absolutely will not unlock the keyring for you, and it wants an X11-based SystemPrompter service to
# prompt for the password which obviously doesn't work over an SSH connection (yes one could redirect X11 but I
# don't want to do that and I use mosh which doesn't support redirecting TCP traffic anyway).
#
# Hopefully someday a better solution will exist
[credential]
 	helper = store

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true

# Enable the `delta` third party diff viewer
# To install it's `git-delta` on most systems
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[pull]
	ff = only
