" Use jj instead of <ESC> to exit insert mode
inoremap jj <ESC>

" Emulate vim-surround
set surround

" Use the system clipboard when yanking
set clipboard+=unnamed

" Use relative line numbers
set relativenumber

" Show the absolute line number of the current line
set number


